@page
@model IndexModel
@{
    ViewData["Title"] = "Isp 20";
}

<div class="text-center">
    <h1 class="display-4">Instituto Superior de Prof. N°20</h1>
    <p>Nuestro sitio web <a href="https://www.isp20.edu.ar">Click aquí</a></p>
</div>
