@page
@model MesasExamenes.Pages.TorneoModel
@{
    ViewData["Title"] = "Torneo de Ajedrez: Copa Instituto N°20";

}

<br />
<p>En el marco de sus 35 años de trayectoria, el Instituto invita al Torneo de Ajedrez, Copa Instituto Superior de Profesorado N°20 “Senador Néstor Zamaro”. </p>

<img src="~/imgs/torneo.jpg" width="150px" />



<br />
<p>El mismo, es organizado por el Círculo de Ajedrez de San Justo y la Biblioteca Popular Mariano Moreno y  se desarrollará el próximo 4 de mayo en el SUM de la institución “Don Horacio José Grosso”, desde las 14 hs. </p>

<br />
<p>Inscripción: $500 </p>

<br />

<p>
    Premiación:
    <br />
    Campeón Copa Aniversario
    <br />
    Mejor terna Instituto
    <br />
    Mejor terna Juvenil
    <br />
    Mejor terna infantil
    br
</p>

<br />
<p>Se invita a todos los interesados, sumarse a la propuesta.</p>

<br />

<p>Referente Institucional: Prof. Juan Pablo Gaido.</p>




